<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharing | Login</title>
</head>

<body>
    <div class="heading">
        <h1>File Sharing Project | Login</h1>
    </div>
    <div class="login-form">
        <form action="" method="POST">
            {% csrf_token %}
            {% include 'messages.html' %}
            <table>
                <tr>
                    <td>Email</td>
                    <td><input type="email" name="email" id="email" placeholder="Email" required></td>
                </tr>

                <tr>
                    <td>Password</td>
                    <td><input type="password" name="pass1" id="password" required></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="Login"></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>